Стили модального окна
.modal {
    display: none; /* По умолчанию скрыто */
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.8);
    justify-content: center;
    align-items: center;
}

.modal-content {
    position: relative;
    animation: zoomIn 0.3s ease;
    max-width: 90%;
    max-height: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-content img {
    max-width: 100%;
    max-height: 100%;
    border-radius: 10px;
}

.close-button {
    position: absolute;
    top: 10px;
    right: 15px;
    color: white;
    font-size: 30px;
    font-weight: bold;
    cursor: pointer;
}

/* Анимация открытия */
@keyframes zoomIn {
    from {
        transform: scale(0.5);
        opacity: 0;
    }
    to {
        transform: scale(1);
        opacity: 1;
    }
}
/* модалка */

/* Стили модального окна */
.modal {
    display: none; /* По умолчанию скрыто */
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.8);
    justify-content: center;
    align-items: center;
}

.modal-content {
    position: relative;
    animation: zoomIn 0.3s ease;
    max-width: 90%;
    max-height: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-content img {
    max-width: 100%;
    max-height: 100%;
    border-radius: 10px;
}

.close-button {
    position: absolute;
    top: 10px;
    right: 15px;
    color: red;
    font-size: 90px;
    font-weight: bold;
    cursor: pointer;
}

/* Анимация открытия */
@keyframes zoomIn {
    from {
        transform: scale(0.5);
        opacity: 0;
    }
    to {
        transform: scale(1);
        opacity: 1;
    }
}
.no-scroll {
    overflow: hidden;
    height: 100%; /* Запобігає прокручуванню сторінки */
}
.pointer{
    cursor:pointer;
}
.pointer:hover {
    transform: scale(1.05);
    transition: transform 0.3s ease; /* Плавний перехід */
}


/* машина */
.clickable-img {
    cursor: pointer; /* Курсор-поінтер */
    z-index: 12;
}
.bg{
    width: 100%;
    z-index: 7;
    position: relative;
    display: flex;

}
.zaglishka{
    width: 100%;
    height: 66px;
    background-color: #133d8b;

}
.block{
    background-color: #133d8b;
    min-width: 40px;
    width: 100%;


}